# Disparo Pro API Configuration
DISPAROPRO_API_TOKEN="seu_token_aqui"

# Teams Webhook
MS_TEAMS_WEBHOOK_URL="https://outlook.office.com/webhook/your-webhook-url"

# Discord Webhook
DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/your-webhook"

# Telegram config
TEALEGRAM_TOKEN="sdfdsfsdfsdfsdfsdfsd"
TEALEGRAM_CHAT_ID="10"
TEALEGRAM_MESSAGE_THREAD_ID="2"

# SMTP config
SMTP_TO="email@email.com"
SMTP_FROM="email@email.com"
SMTP_PORT="25,587,465"
SMTP_SERVER="smtp.mailgun.org"
SMTP_USER="user@email.com"
SMTP_PASS="VeryStrongPass"

# Logging
LOG_LEVEL="INFO"

# Timezone
TZ="America/Sao_Paulo"

# Habilitar/Desabilitar Notificacoes
NOTIFY_TEAMS="true"
NOTIFY_DISCORD="false"
NOTIFY_TELEGRAM="true"
NOTIFY_EMAIL="false"